<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>konfiguracija</param-name>
        <param-value>NWTiS.config.xml</param-value>
    </context-param>
    <context-param>
        <param-name>konfiguracija_baza</param-name>
        <param-value>NWTiS.bp.config.xml</param-value>
    </context-param>
    <filter>
        <filter-name>DnevnikKorisnickihZahtjeva</filter-name>
        <filter-class>org.foi.nwtis.davmoslav.filter.DnevnikKorisnickihZahtjeva</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DnevnikKorisnickihZahtjeva</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>org.foi.nwtis.davmoslav.slusaci.SlusacAplikacije</listener-class>
    </listener>
    <servlet>
        <servlet-name>GeoMeteoWS</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Kontroler</servlet-name>
        <servlet-class>org.foi.nwtis.davmoslav.Kontroler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GeoMeteoWS</servlet-name>
        <url-pattern>/GeoMeteoWS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Kontroler</servlet-name>
        <url-pattern>/Kontroler</url-pattern>
        <url-pattern>/OdjavaKorisnika</url-pattern>
        <url-pattern>/PregledZahtjevaZaServer</url-pattern>
        <url-pattern>/PregledMeteoPodataka</url-pattern>
        <url-pattern>/PregledKorisnickihZahtjeva</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>org.foi.nwtis.davmoslav.PrijavaException</exception-type>
        <location>/loginError.jsp</location>
    </error-page>
    <security-constraint>
        <display-name>Admin</display-name>
        <web-resource-collection>
            <web-resource-name>admin</web-resource-name>
            <description/>
            <url-pattern>/zasticeno/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>aplikacija_1</realm-name>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/loginError.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>admin</role-name>
    </security-role>
</web-app>
